---
layout: default
---

{% include lang.html %}

<article class="px-1">
  {% if page.layout == 'page' or page.collection == 'tabs' %}
    {% assign tab_key = page.title | downcase %}
    {% assign title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
    <h1 class="dynamic-title">
      {{ title }}
    </h1>
    <div class="content">
      Hi there, my name is Bea! <br>

      I’m a 23 year-old currently working as a Security Engineer, I am graduated in Cybersecurity and Post-graduated in Computer Forensics. 

      I’m really passionate about Cyber Threats, and Malware Analysis. <br>
     
      My goal here is to centralize my studies and resources in a way that is easier to find, and eventually develop malwares of my own. <br>

      Feel free to contact me on social media, sometimes I engage in conversations with peers from the area. 👋🏻
    </div>
  {% else %}
    {{ content }}
  {% endif %}
</article>
