---
layout: default
---

{% include lang.html %}

<article class="px-1">
  {% if page.layout == 'page' or page.collection == 'tabs' %}
    {% assign tab_key = page.title | downcase %}
    {% assign title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
    <h1 class="dynamic-title">
      {{ title }}
    </h1>
    <div class="content">
     <p> List of tools and links for malware analysis.</p>


<div id="page-category">
  <h1 class="ps-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    Debuggers
    <span class="lead text-muted ps-2"> Test </span>
  </h1>

     
    </div>
  {% else %}
    {{ content }}
  {% endif %}
</article>
