---
layout: default
---

{% include lang.html %}

<article class="px-1">
  {% if page.layout == 'page' or page.collection == 'tabs' %}
    {% assign tab_key = page.title | downcase %}
    {% assign title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
    <h1 class="dynamic-title">
      {{ title }}
    </h1>
    <div class="content">
     <p> List of tools and links for malware analysis.</p>
  
      <ul>
        <li>strings/FLOSS: <a href="https://github.com/mandiant/flare-floss">https://github.com/mandiant/flare-floss</a> </li>
        <li>PEView: <a href="http://wjradburn.com/software">http://wjradburn.com/software/</a></li>
        <li>upx: <a href="https://upx.github.io">https://upx.github.io</a></li>
        <li>PEStudio: <a href="https://www.winitor.com/download">https://www.winitor.com/download</a></li>
        <li>Capa: <a href="https://github.com/mandiant/capa">https://github.com/mandiant/capa</a></li>
        <li>Wireshark: <a href="https://www.wireshark.org">https://www.wireshark.org</a></li>
        <li>Sysinternals (Procmon, TCPView): <a href="https://learn.microsoft.com/en-us/sysinternals/downloads">https://learn.microsoft.com/en-us/sysinternals/downloads</a></li>
        <li>nc/ncat: <a href="https://nmap.org/download">https://nmap.org/download</a></li>
        <li>Cutter: <a href="https://github.com/rizinorg/cutter">https://github.com/rizinorg/cutter</a></li>
        <li>x32/x64dbg: <a href="https://x64dbg.com">https://x64dbg.com</a></li>
        <li>Process Hacker 2 (now known as System Informer): <a href="https://systeminformer.sourceforge.io">https://systeminformer.sourceforge.io</a></li>
        <li>scdbg: <a href="https://github.com/dzzie/SCDBG">https://github.com/dzzie/SCDBG</a></li>
        <li>dnSpy/dnSpyEx: <a href="https://github.com/dnSpyEx/dnSpy">https://github.com/dnSpyEx/dnSpy</a></li>
        <li>PEBear: <a href="https://hshrzd.wordpress.com/pe-bear">https://hshrzd.wordpress.com/pe-bear</a></li>
        <li>YARA: <a href="https://github.com/VirusTotal/yara">https://github.com/VirusTotal/yara</a></li>
        <li>base64 (built in Linux bin)</li>
        <li>OLEdump: <a href="https://github.com/DidierStevens/DidierStevensSuite/blob/master/oledump.py">https://github.com/DidierStevens/DidierStevensSuite/blob/master/oledump.py</a></li>
        <li>MobSF (Docker Container): <a href="https://github.com/MobSF/Mobile-Security-Framework-MobSF">https://github.com/MobSF/Mobile-Security-Framework-MobSF</a> |  <a href="https://hub.docker.com/r/opensecurity/mobile-security-framework-mobsf">https://hub.docker.com/r/opensecurity/mobile-security-framework-mobsf</a></li>
        <li>INetSim: <a href="https://www.inetsim.org">https://www.inetsim.org</a></li>
      </ul>
  
    </div>
  {% else %}
    {{ content }}
  {% endif %}
</article>
